* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: sans-serif;
}

.header {
    margin-top: 10px;
}

.footer {
    background: linear-gradient(#fff, #1254e0);
    font-size: 20px;
}

.bi-bullseye {
    padding: 0 15px;
    font-size: 20px;
}

.nav-item {
    padding: 0 15px;
    font-size: 20px;
}

.nav-link {
    color: #000;
}

.red {
    color: red;
}

.menu-log,
.menu-logout {
    background: linear-gradient(#1254e0, #fff);
}

a {
    text-decoration: none;
    color: #000;
}

#submit-login {
    border: solid 1px #1254e0;
    border-radius: 5px;
    background: linear-gradient(#1254e0, #cdcdcd);
    text-transform: uppercase;
    padding: 5px;
}

#label-input {
    text-transform: uppercase;
    font-weight: bold;
}

#input-label {
    margin-left: 10px;
    border: #1254e0;    
}

.btn {
    text-transform: uppercase;
    font-size: 18px;
}

.show_details {
    margin-top: 20px;
    background: linear-gradient(#1254e0, #cdcdcd);
    border: #1254e0;
    color: #fff;
    text-align: center;
}

input {
    border: none;

}

