* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    height: 100vh;
    font-family: 'Roboto', sans-serif;
    
}

.header {
    margin-top: 10px;
}

.logo h3 {
    -webkit-background-clip: text;
}

.footer {
    background: linear-gradient(#fff, #1254e0);
    font-size: 20px;
}

.bi-bullseye {
    padding: 0 15px;
    font-size: 20px;
}

.nav-item {
    padding: 0 15px;
    font-size: 20px;
}

.nav-link {
    color: #000;
}

.red {
    color: red;
}

.menu-log,
.menu-logout {
    background: linear-gradient(#1254e0, #fff);
}

a {
    text-transform: uppercase;
    text-decoration: none;
    color: #000;
}

#submit-login {
    border: solid 1px #1254e0;
    border-radius: 5px;
    background: linear-gradient(#1254e0, #cdcdcd);
    text-transform: uppercase;
    padding: 5px;
}

#label-input {
    text-transform: uppercase;
    font-weight: bold;
}



.btn {
    text-transform: uppercase;
    font-size: 18px;
}

.show_details {
    margin-top: 20px;
    background: linear-gradient(#1254e0, #cdcdcd);
    border: #1254e0;
    color: #000;
    text-align: center;
    box-shadow: 10px 10px 25px 10px rgba(12, 14, 58, 1);
}

.show{
    background-image: none; 
    color: #000;
}

#input_category {
    border: none;
    background: linear-gradient(#1254e0, #cdcdcd); 
}

.table {
    background: #1254e0;    
}

h1,h2,h3,h4,h5,h6 {
    text-transform: uppercase;
    background-image: linear-gradient(#20aae1, #2b0b97);
    background-clip: text;
    color: transparent;
    -webkit-background-clip: text;
    
}

.form input, .form select, .form textarea {
font-size: 20px;
}

.form select {
background-color: whitesmoke;    
}

.img_wrapper {
    height: 150px;
    width: 200px;
    overflow: hidden;
}

.img_wrapper img {
    height: 150px;
    width: 200px;
    transition: .5s all ease-in-out;
}

.img_wrapper img:hover {
    height: 200px;
    width: 250px;
}

@media (min-width: 1399px) {
    #input-label {
        margin-left: 10px;
    }
}
